<div class="container">
  <div class="container div-spacing">
    <form [formGroup]="seqForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="spacing">
          <mat-label>Select params</mat-label>
          <mat-select formControlName="selectedParam" [(value)]="selected">
            <mat-option *ngFor="let seqParam of seqParams" [value]="seqParam.value">
              {{seqParam.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <p>You selected: {{selected}}</p> -->
    
        <mat-form-field class="textbox spacing">
          <input formControlName="busTxnSeq" matInput placeholder="" value="4hcnx4ua9c">
        </mat-form-field>
    
        <div class="container div-spacing">
          <mat-checkbox 
            [checked]="data[0].checked" 
            (change)="onChange($event, 0, data[0])"
            class="spacing"
            >
            Gotham
          </mat-checkbox>
          <mat-checkbox [checked]="data[1].checked" 
          (change)="onChange($event, 1, data[1])" class="spacing">Voltest</mat-checkbox>
          <mat-checkbox [checked]="data[2].checked" 
          (change)="onChange($event, 2, data[2])" class="spacing">Live</mat-checkbox>
          <mat-checkbox [checked]="data[3].checked" 
          (change)="onChange($event, 3, data[3])" class="spacing">Prod</mat-checkbox>
          <mat-checkbox [checked]="data[4].checked" 
          (change)="onChange($event, 4, data[4])" class="spacing">All</mat-checkbox>

          <button mat-button type="submit">Search</button>
        </div>    
      </form>
  </div>

  
  
  <div class="container div-spacing">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Date and Time Column -->
          <ng-container matColumnDef="dateTime">
            <th mat-header-cell *matHeaderCellDef> Date & Time </th>
            <td mat-cell *matCellDef="let element"> {{element.dateTime}} </td>
          </ng-container>
        
          <!-- SystemCd Column -->
          <ng-container matColumnDef="systemCd">
            <th mat-header-cell *matHeaderCellDef> System Code </th>
            <td mat-cell *matCellDef="let element"> {{element.systemCd}} </td>
          </ng-container>
        
          <!-- ClientIP Column -->
          <ng-container matColumnDef="clientIP">
            <th mat-header-cell *matHeaderCellDef> Client IP </th>
            <td mat-cell *matCellDef="let element"> {{element.clientIP}} </td>
          </ng-container>
        
          <!-- BusTxnSeq Column -->
          <ng-container matColumnDef="busTxnSeq">
            <th mat-header-cell *matHeaderCellDef> Bus Txn Seq </th>
            <td mat-cell *matCellDef="let element"> {{element.busTxnSeq}} </td>
          </ng-container>

          <!-- CompTxnID Column -->
          <ng-container matColumnDef="compTxnID">
            <th mat-header-cell *matHeaderCellDef> Comp Txn ID </th>
            <td mat-cell *matCellDef="let element"> {{element.compTxnID}} </td>
          </ng-container>

          <!-- CompTxnName Column -->
          <ng-container matColumnDef="compTxnName">
            <th mat-header-cell *matHeaderCellDef> Comp Txn Name </th>
            <td mat-cell *matCellDef="let element"> {{element.compTxnName}} </td>
          </ng-container>

          <!-- BusTxnType Column -->
          <ng-container matColumnDef="busTxnType">
            <th mat-header-cell *matHeaderCellDef> Bus Txn Type </th>
            <td mat-cell *matCellDef="let element"> {{element.busTxnType}} </td>
          </ng-container>

          <!-- BusProcType Column -->
          <ng-container matColumnDef="busProcType">
            <th mat-header-cell *matHeaderCellDef> Bus Proc Type </th>
            <td mat-cell *matCellDef="let element"> {{element.busProcType}} </td>
          </ng-container>

          <!-- Request Type Column -->
          <ng-container matColumnDef="requestType">
            <th mat-header-cell *matHeaderCellDef> Request Type </th>
            <td mat-cell *matCellDef="let element"> {{element.requestType}} </td>
          </ng-container>

          <!-- Env Column -->
          <ng-container matColumnDef="env">
            <th mat-header-cell *matHeaderCellDef> Env </th>
            <td mat-cell *matCellDef="let element"> {{element.env}} </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <!-- Text Column -->
          <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef> Text </th>
            <td mat-cell *matCellDef="let element"> {{element.text}} </td>
          </ng-container>

          <!-- MessageID Column -->
          <ng-container matColumnDef="messageID">
            <th mat-header-cell *matHeaderCellDef> MessageID </th>
            <td mat-cell *matCellDef="let element"> {{element.messageID}} </td>
          </ng-container>

          <!-- XML Column -->
          <ng-container matColumnDef="reqResXml">
            <th mat-header-cell *matHeaderCellDef> Req and Res XMLs </th>
            <td mat-cell *matCellDef="let element"> {{element.reqResXml}} </td>
          </ng-container>          
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>        
  </div>
</div>